#register-form{
    width: 50%;
    margin: 3% auto;
    box-sizing: border-box;
    padding: 3%;
    border: 0.03em solid #0059b3;
    position: relative;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-timing-function: ease-out;
    animation-name: animatetop;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}

@-webkit-keyframes animatetop{
    from {top: -500px; opacity: 0;}
    to {top: 0px; opacity: 1;}
}

@keyframes animatetop{
    from {top: -500px; opacity: 0;}
    to {top: 0px; opacity: 1;}
}